.estiloPaginado > li > a {
  background-color: white;
  color: black;
  border: solid 1px rgb(229, 39, 59) !important;
}

.estiloPaginado > li > a:hover {
  background-color: rgb(229, 39, 59);
  color: white;
}

.estiloPaginado > .active > a {
  color: white;
  background-color: rgb(229, 39, 59) !important;
  border: solid 1px rgb(229, 39, 59) !important;
}
