.nav {
  border-bottom: 2px dotted grey;
}

.estiloletra {
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  $x: 12px;
  $y: 15px;
  $step: 1px;
  }

.estiloletra:hover{
  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(1px, 0, 0);
}
}