@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
.titulo {
  font-family: 'Roboto Slab', serif;
}

.panel {
  background-color: #FFCDD2 !important; 
  padding-bottom: 0px !important;
  border-color: transparent;
  border-bottom: 1px dotted grey !important;

}

